<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruang Aksara</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            Ruang Aksara
        </div>

        <div class="menu">
            <a href="/">Home</a>
            <a href="/books">Koleksi</a>
            <a href="/login">Admin</a>
        </div>

    </nav>

    <section class="hero">

        <h1>Ruang Aksara</h1>

        <p>
            Perpustakaan digital koleksi novel terbaik.
        </p>

        <p>
            Pengunjung dapat melihat daftar buku, mencari buku,
            memfilter kategori, melihat status buku, dan melihat
            detail buku secara lengkap.
        </p>

        <p>
            Peminjaman dan pengelolaan buku hanya dapat dilakukan
            oleh admin.
        </p>

        <a class="btn" href="/books">
            Jelajahi Buku
        </a>

    </section>

</body>

</html>